:root {
    --color-1: #FF4500;
    /*màu xanh tối */
    --color-2: #FFAA00;
    /*màu xanh sáng */
    --color-3: white;
}

@font-face {
    src: url(../css/Comfortaa-VariableFont_wght.ttf);
    font-family: COmfortaa;
}

body {
    padding: .5rem;
    font-family: Comfortaa !important;
}

hr {
    border-top: 1px solid var(--color-2) !important;
}


/* thẻ input */

input[type=text]:focus,
input[type=submit] {
    outline: none;
}

::placeholder {
    color: var(--color-2);
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: var(--color-2);
    padding: 10px 10px;

}
.dropdown-item {
    font-size: 0.8rem;
}
.dropdown-item:hover {
    background-color: var(--color-2) !important;
    color: var(--color-3) !important;
    border-radius: 5px;
    transition: all 1500ms;
}

.dropdown:hover  .dropdown-content {
    border-top: none;
    background: linear-gradient(100deg, var(--color-3) 50%, white);
    background-color: var(--color-3);
    color: var(--color-1);
    display: inline-block;
    transition: all 1500ms;
}


/* Header */


/* Logo */

.header__logo>a>img {
    width: 15rem;
    height: auto;
}


/* Form Search */

.header__form-search {
    margin: 1rem 0;
}

.header__form-search--ip {
    padding: .3rem 1rem;
    width: 15rem;
    font-size: .9rem;
    font-style: italic;
    color: var(--color-2);
    border-radius: 15px;
    border: 1px solid var(--color-2);
}

.header__form-search--ip:focus {
    border: 1px solid var(--color-2);
}

.header__form-search--btn {
    margin-left: -2.2rem;
    width: 1.7rem;
    height: 1.4rem;
    color: var(--color-2);
    background-color: var(--color-3);
    border: none;
}


/* Nav Header */
.header_nav > div {
    padding: .2rem;
}

.header__nav--item {
    margin: 0rem;
    padding: .5rem .7rem;
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    color: var(--color-3);
    background-color: var(--color-2);
    border: 2px solid var(--color-3);
    border-radius: 15px;
}

.header__nav--item:hover {
    color: var(--color-2);
    background-color: var(--color-3);
    border: 1px solid var(--color-2);
    text-decoration: none;
    transition: all 750ms;
}

/* Nav Menu */

.navbar {
    padding: 0rem !important;
    font-weight: 600;
}
.menu__list {
    background: linear-gradient(105deg, var(--color-2) 30%, white);
    border-radius: 20px;
}

.menu__list--icon {
    border: none !important;
}

.menu__list--icon:focus {
    outline: none !important;
}

.menu__list--item > a {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    color: var(--color-3);
    font-size: 0.8rem;
}

.menu__list--item:hover > a {
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--color-1);
    background-color: var(--color-3);
    transition: all 750ms;
}

/* Slide Banner */

.slide_banner {
    padding: .5rem;
    border: 1px solid var(--color-2);
    border-radius: 15px;
}

.slide_banner--img > a > img {
    width: 100%;
}

.slide_banner--content {
    padding: 1.5rem;
    height: 17.5rem;
    color: var(--color-3);
    background-color: var(--color-2);
    border: 1px solid var(--color-3);
    border-radius: 15px;
}

.slide_banner--content__title {
    padding: 0 .5rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}
.slide_banner--content__description {
    font-size: .9rem;
}

.slide_banner--content__btn {
    padding: .5rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-3);
    border: 1px solid var(--color-3);
    border-radius: 15px;
}

.slide_banner--content__btn:hover {
    text-decoration: none;
    color: var(--color-2);
    background-color: var(--color-3);
    transition: all 750ms;
}

/* Service Content */

.service-content {
    padding: 1rem 0rem;
    color: var(--color-3);
    background-color: var(--color-2);
    border: 5px solid var(--color-3);
    border-radius: 15px;
}

.service-content__icon {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.service-content__title {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.service-content__desciption {
    margin-left: 1.2rem;
    width: 90%;
    font-size: .9rem;
}

/* List Product */

.list-cart-header {
    color: var(--color-2);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 3px;
}

/* Card */

.card-product {
    display: flexbox;
    width: 18.2rem;
    height: 14rem;
    max-height: 18rem;
    margin: .5rem;
    padding: .5rem;
    border: 1px solid var(--color-2);
    border-radius: 15px ;
}

.card-product__img {
    width: 85%;
    height: 10rem;
    margin-top: -.2rem;
    border-radius: 20px;
    object-fit: contain;
}

.card-product__img:hover {
    transform: scale(1.05,1.05);
    transition: all 750ms;
}

.card-product-body {
    padding: .7rem .7rem .1rem;
}

.card-product-body__content--title {
    width: 95%;
    max-width: 95%;
    margin: 0 .5rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--color-2);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-product-body__content--title:hover {
    color: var(--color-1);
    text-decoration: none;
}

.card-product-body__content--description {
    width: 100%;
    max-width: 100%;
    margin: 0 .6rem;
    font-size: .8rem;
    color: var(--color-2);
}

.card-product-body__content--description > a {
    color: var(--color-2);
}

.card-product-body__content--description:hover > a {
    color: var(--color-1);
}

.card-product-body__content--price {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-2);
}

.active .card-product-body--buy__cart {
    display: block;
}

.active .card-product-body__content--price {
    display: none;
}

.card-product-body--buy__cart {
    display: none;
    text-align: center;
    padding: .5rem;
    color: var(--color-3);
    background-color: var(--color-2);
    border: 1px solid var(--color-2);
    border-radius: 10px;
}

.card-product-body--buy__cart:hover {
    color: var(--color-2);
    background-color: var(--color-3);
    transition: all 750ms;
    cursor: pointer;
}

/* Product Detail */

.product-detail {
    display: none;
    position: fixed;
    top: 2rem;
    right: 1rem;
    width: 21.875rem;
    height: 37.5rem;
    padding: 1rem;
    background-color: var(--color-3);
    border: 2px solid var(--color-2);
    border-radius: 15px;
    z-index: 5;
}

.product-detail__icon-close {
    position: absolute;
    font-size: 1.4rem;
    color: var(--color-2);
    margin-top: -.2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.product-detail__img {
    width: 90%;
    height: 18rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
    object-fit: contain;
    border-radius: 15px;
}

.product-detail__title {
    padding: .5rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-2);
}

.product-detail__description-1 {
    padding: 0 1.3rem;
    font-size: 1.1rem;
    color: var(--color-2);
}

.product-detail__description-1 > a {
    color: var(--color-2);
}

.product-detail__description-1:hover > a {
    color: var(--color-1);
    text-decoration: none;
}

.product-detail__description-2 {
    width: 100%;
    height: 5rem;
    max-height: 5rem;
    padding: .5rem 1rem 0rem 1rem;
    font-size: .9rem;
    font-style: italic;
    overflow: auto;
    color: var(--color-2);
}

.product-detail__description-2::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.product-detail__price {
    color: var(--color-2);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.product-detail__add-to-card {
    padding: .7rem 2rem;
    margin: .7rem;
    color: var(--color-3);
    font-weight: 600;
    background-color: var(--color-2);
    border: 1px solid var(--color-2);
    border-radius: 15px;
}

.product-detail__add-to-card:hover {
    color: var(--color-2);
    background-color: var(--color-3);
    text-decoration: none;
    transition: all 750ms;
}

.product-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

/* Input Amount (Số lượng) */

.btn-icon {
    margin: 0 .2rem;
    display: inline-block;
    border: 1px solid var(--color-2);
    color: var(--color-2);
    background: none;
    border-radius: 20px;
}

.btn-icon:focus {
    outline: none !important;
}

.input-amount {
    width: 25%;
    border: 1px solid var(--color-2);
    border-radius: 10px;
    text-align: center;
    color: var(--color-2);
    display: inline-block;
}



